.amz-cart-img {
	height: 19rem;
	width: 17rem;
	background: #da841f;
    border-radius: 0.5rem;

}

.amz-cart-first-layer {
	height: 32rem;
	width: 18rem;
	border: 1px solid;
	margin: 1rem;
	border-radius: 0.5rem;
	padding: 0.2rem;
	display: grid;
	cursor: pointer;

}

.amz-cart-description {
	background: azure;
	padding: 1rem;
    height: 12.9rem;
    border-radius: 0.5rem;
	/* display: grid; */
}

.amz-rating-reviews-both {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-buttons-buy-add {
	display: flex;
	justify-content: space-between;
	align-items: center;
}   

.amz-main-cart-layer {
	display: flex;
	flex-wrap: wrap;
}

.amz-div-for-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.amz-cart-first-layer:hover {
	box-shadow: 0px 0px 17px black;
}

.amz-cart-first-layer:hover {
	background: rgb(43, 184, 184);
	/* padding: 1rem; */
    /* height: 12.9rem; */
    border-radius: 0.5rem;
	/* padding: 0.1rem; */
	/* padding-bottom: 0.1rem; */
}

.amz-cart-description:hover{
	background: rgb(43, 184, 184);
    border-radius: 0.5rem;
}

.buy-now-buttos {
	height: 2rem;
	width: 7rem;
	text-decoration: none;
	border: none;
	border-radius: 0.2rem;
	background: #ff8355;
	font-weight: bold;
}

.buy-now-buttos:hover {
	background: black;
	color: white;
	border: 1px double ivory;
}
